.section{
    width: max-content;
    margin: 10rem;
}

@media only screen and (max-width: 768px) {
    .section{
        min-width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
}